{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cadastro de vendedor</title>
{% endblock  %}

{% block navbar %}
    
{% endblock  %}

{% block conteudo %}
<div class="fundo d-flex justify-content-center align-items-center">
    <main class="w-75 m-auto formulario">
        <form method="post" enctype="multipart/form-data" action="{% url 'login:cadastro_vendedor' %}" onsubmit="return validarForm()">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <h2 class="py-3">Cadastre-se</h2>
            </div>
            <div class="form-floating mb-4">
                <input type="text" placeholder="Nome" name="nome" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Nome</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" placeholder="Telefone" name="telefone" class="form-control opacity-50" id="telefoneInput">
                <label class="nome_input" for="telefoneInput">Telefone</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" placeholder="Senha" name="senha" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Senha</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" placeholder="Login" name="login" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Login</label>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a class="button btn btn-dark py-2 px-3" href="/login_vendedor">Cancelar</a>
                <button class="btn py-2 btn-danger">Cadastrar</button>
            </div>
        </form>
    </main>
</div>

<script>
function validarForm() {
    var telefoneInput = document.getElementById('telefoneInput');
    var telefoneValue = telefoneInput.value;

    var telefoneRegex = /^\d+$/;

    if (!telefoneRegex.test(telefoneValue)) {
        alert("O campo Telefone deve conter apenas números.");
        telefoneInput.focus();
        return false;
    }

    return true;
}
</script>
{% endblock %}