{%extends 'base.html'%}
{%load static %}
{%block conteudo%}
<div class="fundo d-flex justify-content-center align-items-center">
    <main class="w-100 m-auto formulario">
        <form class="p-3">
            <div>
                <h2>Cadastre-se</h2>
            </div>
            <div class="form-floating mb-3">
                <input type="text" placeholder="Login" name="nome" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Nome</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" placeholder="Login" name="telefone" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Telefone</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" placeholder="Senha" name="senha" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Senha</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" placeholder="Login" name="login" class="form-control opacity-50" id="floatingInput">
                <label class="nome_input" for="floatingInput">Login</label>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a class="button btn btn-dark py-2 px-3" href="#">Cancelar</a>
                <a class="button btn btn-danger py-2 px-3" href="#">Cadastrar</a>
            </div>
        </form>
    </main>
</div>
{%endblock%}