{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock  %}

{% block conteudo %}

<main>
    <div class="container">
        <div class="page-title mt-5 row">
            <div class="col-8">
                <h1>Olá, {{ cliente.nome }}</h1>
            </div>
        </div>
        
        <section class="catalogo mt-5">
            <h2>Produtos disponíveis</h2>
            <div class="produtos row mt-3">
                {% for produto in produtos %}
                <div class="col-4">
                    <div class="card">
                        <img src="/media/{{ produto.imagem }}" class="card-img-top" alt="Imagem do Produto">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <p class="card-text">Sabores: {{ produto.sabor }}</p>
                            <p class="card-text">Preço: {{ produto.preco }}</p>
                            <button type="button" class="btn btn-primary btn-comprar" data-bs-toggle="modal" data-bs-target="#comprar_produto_modal" data-produto-id="{{ produto.id }}">Comprar</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Modal de Compra -->
        <div class="modal fade" id="comprar_produto_modal" tabindex="-1" aria-labelledby="comprar_produto" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title fs-5" id="modal-lable">
                            Comprar Produto
                        </div>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="quantidade_produto" class="form-label">Quantidade</label>
                                <input type="number" class="form-control" id="quantidade_produto" name="quantidade_produto" min="1" required>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="sabor_produto" class="form-control opacity-50" id="floatingInputSabor">
                                    <option value="" disabled selected>Selecione o sabor</option>
                                    <option value="chocolate">Chocolate</option>
                                    <option value="doce_de_leite">Doce de leite</option>
                                    <option value="morango">Morango</option>
                                </select>
                                <label class="nome_input" for="floatingInputSabor">Sabor</label>
                            </div>
                            <div class="mb-3">
                                <label for="valor_total" class="form-label">Valor Total: R$ <span id="valor_total">0.00</span></label>
                            </div>
                            <button type="submit" class="btn btn-success">Comprar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seu código existente aqui -->
    </div>
</main>

{% endblock  %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#nav-link-home').removeClass('active');
        $('#nav-link-menu').addClass('active');

        // Atualiza o valor total com base na quantidade escolhida
        $('#quantidade_produto').on('input', function() {
            var quantidade = $(this).val();
            var precoUnitario = parseFloat(' {{produto.preco}} '); 
            var valorTotal = quantidade * precoUnitario;
            $('#valor_total').text(valorTotal.toFixed(2));
        });

        // Abre o modal quando o botão de comprar é clicado
        $('.btn-comprar').on('click', function() {
            $('#comprar_produto_modal').modal('show');
        });
    });
</script>
{% endblock %}
