{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Registrar produto</title>
{% endblock  %}

{% block navbar %}
    <!-- Se precisar adicionar algo à navbar -->
{% endblock  %}

{% block conteudo %}
<div class="fundo d-flex justify-content-center align-items-center">
    <main class="w-75 m-auto formulario">
        <form method="post" enctype="multipart/form-data" action="{% url 'menu:registrar_produto' %}">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <h2 class="py-3">Produto</h2>
            </div>
            <div class="form-floating mb-4">
                <input type="text" placeholder="Nome" name="nome_produto" class="form-control opacity-50" id="floatingInputNome">
                <label class="nome_input" for="floatingInputNome">Nome</label>
            </div>
            <div class="form-floating mb-4">
                <input type="number" placeholder="Preço" name="preco_produto" class="form-control opacity-50" id="floatingInputPreco">
                <label class="nome_input" for="floatingInputPreco">Preço</label>
            </div>
            <div class="form-floating mb-3">
                <input type="file" name="imagem_produto" class="form-control opacity-50" id="fotoInput" accept="image/*">
                <label for="fotoInput">Foto</label>
            </div>
            <div class="form-floating mb-4">
                <input type="number" placeholder="Quantidade" name="quantidade_produto" class="form-control opacity-50" id="floatingInputQuantidade">
                <label class="nome_input" for="floatingInputQuantidade">Quantidade</label>
            </div>
            <div class="form-floating mb-4">
                <select name="sabor_produto" class="form-control opacity-50" id="floatingInputSabor">
                    <option value="" disabled selected>Selecione o sabor</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="doce_de_leite">Doce de leite</option>
                    <option value="morango">Morango</option>
                </select>
                <label class="nome_input" for="floatingInputSabor">Sabor</label>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a class="button btn btn-dark py-2 px-3" href="{% url 'menu:menu' %}">Cancelar</a>
                <button class="btn py-2 btn-danger" type="submit">Registrar</button>
            </div>
        </form>
    </main>
</div>

{% endblock %}
